#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/pinctrl-zynqmp.h>
#include <dt-bindings/phy/phy.h>

/ {
    model = "Atlas-II Z8 HP";
    compatible = "iveia,atlas-ii-z8-hp", "xlnx,zynqmp";

    aliases {
        /* uart1 is console */
        serial0 = &uart1;
        serial1 = &uart0;

        /* Reorder ethernet - gem3 is SGMII and always there, so put first */
        ethernet0 = &gem3;
        ethernet1 = &gem0;
        ethernet2 = &gem1;
        ethernet3 = &gem2;
    };
};

&pss_ref_clk {
    clock-frequency = <50000000>;
};

&qspi {
    is-dual = <0>;
};

&sdhci1 {
    status = "okay";
    no-1-8-v;       /* for 1.0 silicon */
    disable-wp;
};

&sdhci0 {
    status = "okay";
    no-1-8-v;       /* for 1.0 silicon */
    disable-wp;
};

&pinctrl0 {
	status = "okay";
	pinctrl_usb0_default: usb0-default {
		mux {
			groups = "usb0_0_grp";
			function = "usb0";
		};

		conf {
			groups = "usb0_0_grp";
			slew-rate = <SLEW_RATE_SLOW>;
			io-standard = <IO_STANDARD_LVCMOS18>;
		};

		conf-rx {
			pins = "MIO52", "MIO53", "MIO55";
			bias-high-impedance;
		};

		conf-tx {
			pins = "MIO54", "MIO56", "MIO57", "MIO58", "MIO59",
			       "MIO60", "MIO61", "MIO62", "MIO63";
			bias-disable;
		};
	};
};

&usb0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb0_default>;
};

&dwc3_0 {
	status = "okay";
	dr_mode = "host";
	snps,usb3_lpm_capable;
	phy-names = "usb3-phy";
	phys = <&lane0 PHY_TYPE_USB3 0 2 26000000>;
	maximum-speed = "super-speed";
};
