/ {
    aliases {
        /* uart1 is console */
        serial0 = &uart1;
        serial1 = &uart0;
		usb0 = &usb0;
		usb1 = &usb1;
    };

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x20000000>;
	};

    iv_ipmi: iv_ipmi {
        compatible = "iv,ipmi";
        #address-cells = <0x01>;
        #size-cells = <0x01>;

		// see Readme.ipmi

        iv_ipmi_mb: iv_mb {
            i2c = < 1 0x52 0 >;  // < bus_num addr offset >
        };

        iv_ipmi_io: iv_io {
            i2c = < 0 0x53 0 >;  // < bus_num addr offset >
        };
	};

	usb_phy0: phy0@e0002000 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};

	usb_phy1: phy0@e0003000 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0003000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
};

&pinctrl0 {
	pinctrl_usb0_default: usb0-default {
		mux {
			groups = "usb0_0_grp";
			function = "usb0";
		};

		conf {
			groups = "usb0_0_grp";
			slew-rate = <0>;
			io-standard = <3>;
		};

		conf-rx {
			pins = "MIO29", "MIO31", "MIO36";
			bias-high-impedance;
		};

		conf-tx {
			pins = "MIO28", "MIO30", "MIO32", "MIO33", "MIO34",
			       "MIO35", "MIO37", "MIO38", "MIO39";
			bias-disable;
		};
	};

	pinctrl_usb1_default: usb1-default {
		mux {
			groups = "usb1_0_grp";
			function = "usb1";
		};

		conf {
			groups = "usb1_0_grp";
			slew-rate = <0>;
			io-standard = <3>;
		};

		conf-rx {
			pins = "MIO41", "MIO43", "MIO48";
			bias-high-impedance;
		};

		conf-tx {
			pins = "MIO40", "MIO42", "MIO44", "MIO45", "MIO46",
			       "MIO47", "MIO49", "MIO50", "MIO51";
			bias-disable;
		};
	};
};

&adc {
	#io-channel-cells = <1>;
};

&amba {
	ps_adc_hwmon {
		compatible = "iio-hwmon";
		/* 1 temperature channel, and 8 voltage channels */
		io-channels = <&adc 0>, 
			    <&adc 1>, <&adc 2>, <&adc 3>, <&adc 4>,
			    <&adc 5>, <&adc 6>, <&adc 7>, <&adc 8>;
		io-channel-names = "PS TEMP", 
				"VCC INT", "VCC AUX", "VCC BRAM", "VCC PINT",
				"VCC PAUX", "VCC ODDR", "VREFP", "VREFN";
	};

    iveia_ocp {
        compatible = "iv,ocp";
        reg = <0x0 0x40000000 0x0 0x01000000 0x0 0x70000000 0x0 0x00100000 0x0 0x74000000 0x0 0x00100000>;
        reg-names = "full", "events", "io-board";
    };
};

&usb0 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb0_default>;
};

&usb1 {
	status = "okay";
	dr_mode = "host";
	usb-phy = <&usb_phy1>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb1_default>;
};

&qspi {
    status = "okay";
    is-dual = <0>;

    flash@0 {
        /* Part is: M25P16-VMN6 or W25Q80DVUXIE or other*/
        compatible = "jedec,spi-nor";
        #address-cells = <1>;
        #size-cells = <1>;
        reg = <0x0>;
        spi-max-frequency = <50000000>;
        partition@0x00000000 {
            label = "qspi-fsbl-uboot";
            reg = <0x0 0x1000000>;
        };
    };
};

