#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/pinctrl-zynqmp.h>
#include <dt-bindings/phy/phy.h>

/ {
    aliases {
        /* uart1 is console */
        serial0 = &uart1;
        serial1 = &uart0;
    };
};

&pss_ref_clk {
    clock-frequency = <50000000>;
};

/*
 * Because input clock pss_ref_clk changed from default (from 33.33MHZ to
 * 50MHz), scaling frequencies must be correctly adjusted.  As per TRM,
 * frequencies are based off an integer divisor of PLL clock (APLL in this
 * case), which is set to 1200MHz for speed -1 devices (APLL was 1199MHz
 * when using 33.33MHz)
 */
&cpu_opp_table {
    opp00 {
        opp-hz = /bits/ 64 <1200000000>;
    };

    opp01 {
        opp-hz = /bits/ 64 <600000000>;
    };

    opp02 {
        opp-hz = /bits/ 64 <400000000>;
    };

    opp03 {
        opp-hz = /bits/ 64 <300000000>;
    };
};

&qspi {
    status = "okay";
    is-dual = <0>;

    flash@0 {
        /* Part is: MT25QL02G */
        compatible = "jedec,spi-nor";
        #address-cells = <1>;
        #size-cells = <1>;
        reg = <0x0>;
        spi-max-frequency = <50000000>;
        partition@0x00000000 {
            label = "qspi-fsbl-uboot";
            reg = <0x0 0x1000000>;
        };
    };
};

&sdhci1 {
    status = "okay";
    no-1-8-v;       /* for 1.0 silicon */
    disable-wp;
};

&sdhci0 {
    status = "okay";
    no-1-8-v;       /* for 1.0 silicon */
    disable-wp;
};

&pinctrl0 {
    status = "okay";
    pinctrl_usb0_default: usb0-default {
        mux {
            groups = "usb0_0_grp";
            function = "usb0";
        };

        conf {
            groups = "usb0_0_grp";
            slew-rate = <SLEW_RATE_SLOW>;
            io-standard = <IO_STANDARD_LVCMOS18>;
        };

        conf-rx {
            pins = "MIO52", "MIO53", "MIO55";
            bias-high-impedance;
        };

        conf-tx {
            pins = "MIO54", "MIO56", "MIO57", "MIO58", "MIO59",
                   "MIO60", "MIO61", "MIO62", "MIO63";
            bias-disable;
        };
    };
};

&usb0 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_usb0_default>;
};

&dwc3_0 {
    status = "okay";
    dr_mode = "host";
    snps,usb3_lpm_capable;
    phy-names = "usb3-phy";
    phys = <&lane0 PHY_TYPE_USB3 0 2 26000000>;
    maximum-speed = "super-speed";

    lane0: lane0 {
        #phy-cells = <4>;
    };
};

&i2c1 {
    lm75@48 {
        compatible = "lm75";
        reg = <0x48>;
        status = "okay";
    };
};

&ams_pl {
    xlnx,ext-channels {
        #address-cells = <1>;
        #size-cells = <0>;
        channel@0 {
            reg = <0>;
            xlnx,bipolar;
        };
    };
};


&amba {
    ams_ctrl_hwmon {
        compatible = "iio-hwmon";
        io-channels = <&xilinx_ams 0>, <&xilinx_ams 1>, <&xilinx_ams 2> , <&xilinx_ams 3>,
                        <&xilinx_ams 4>, <&xilinx_ams 5>, <&xilinx_ams 6>;
    };

    ams_ps_hwmon {
        compatible = "iio-hwmon";
        io-channels = <&xilinx_ams 7>, <&xilinx_ams 8>, <&xilinx_ams 9>, <&xilinx_ams 10>, 
                        <&xilinx_ams 11>, <&xilinx_ams 12>, <&xilinx_ams 13>, <&xilinx_ams 14>, 
                        <&xilinx_ams 15>, <&xilinx_ams 16>, <&xilinx_ams 17>, <&xilinx_ams 18>, 
                        <&xilinx_ams 19>;
    };

    ams_pl_hwmon {
        compatible = "iio-hwmon";
        io-channels = <&xilinx_ams 20>, <&xilinx_ams 21>, <&xilinx_ams 22>, <&xilinx_ams 23>,
                        <&xilinx_ams 24>, <&xilinx_ams 25>, <&xilinx_ams 26>, <&xilinx_ams 27>,
                        <&xilinx_ams 28>, <&xilinx_ams 29>, <&xilinx_ams 30>;
    };

    iveia_ocp {
        compatible = "iveia,ocp";
        reg = <0x0 0x80000000 0x0 0x20000000 0x0 0x90000000 0x0 0x01000000 0x0 0x94000000 0x0 0x01000000>;
        reg-names = "full", "events", "io-board";
    };
};

